
<div class="row container-top-m">
  <ol class="breadcrumb">
      <li><a href="/admin/">Home</a></li>
      <li class="active">Show</li>
  </ol>
<div class="col-sm-12 col-md-12 col-lg-12">
  <h2><%= @foodspot.name%>
    <% if user_signed_in? %>
    <%= render 'like' , spot: @foodspot%>
    <%end%>
  </h2>
  <p class="pull-right">Kitchen: <%= @foodspot.category.name%></p>
  <p><%= @foodspot.address%></p>
</div>

<div class="col-sm-12 col-md-8 col-lg-8">
    <%= image_tag @foodspot.image.url(:original), class:"image-w" %>
  <!-- checking if there is no votes then there is no need to process the code below -->
    <% unless @foodspot.votes_for.voters.empty? %>
  <!-- this is the foodspot voters(people who liked this foodspot) onl last 3 who get displayed -->
      <p class="liked-show"> Liked by <sapn class="upvotes"><%= @foodspot.get_upvotes.size %></sapn> <%= "person".pluralize(@foodspot.get_upvotes.size)%></p>
      <% @foodspot.votes_for.voters.last(3).each do |p| %>
        <%= link_to p do %>
              <%= image_tag p.avatar.url(:thumb), class: "img-circle user-img-small",:"data-toggle" =>"tooltip", :"data-placement" => "top", :title => "#{p.username}" %>
        <% end %>
      <%end%>
  <!-- //////////////// end of foodspot voters //////////////// -->

  <!-- here all the voters displayed on a modal via ajax -->
    <% if @voters_number > 3 %>
        <%= link_to admin_foodspot_path, id: "mymodal",remote: true do%>
          <button type="button" class="btn btn-fab btn-warning btn-fab-mini">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </button>
        <%end%>
      <%end%>
  <!-- ////////////////   end of modal //////////////// -->
    <%end%>
<!-- //////////////// end of checking the votes //////////////// -->
    <div class="fb-comments">
      <%= render 'partials/facebookComments'%>
    </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
  <%= render 'partials/map'%> <!-- Google map -->
  <div class="info">
  <p class="lead">
    Phone: <%= @foodspot.phone%><br>
    Website: <%= @foodspot.website%></p>
  </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 text-center">

  <%unless @foodspot.nearbys(30).where(visible: true).any? == false%>
  <h3>Foodspots near <%= @foodspot.name %></h3>
  <% for foodspot in @foodspot.nearbys(30).where(visible: true).take(2)%>
  Name: <%= foodspot.name%>
  <%= link_to foodspot.address, foodspot %> <%= foodspot.distance.round(2)%> miles</br>
  <% end %>
  <%else%>
  <h3>There is no Foodspots near <%= @foodspot.name %></h3>
  <p>I know a FoodSpot near <%= @foodspot.name %> </p>
  <%end%>


<% if current_user.try(:admin?) %>
<%= link_to "Edit Foodspot", edit_admin_foodspot_path(@foodspot)%>
<%= link_to  'Destroy', [:admin, @foodspot], method: :delete, data: { confirm: 'Click Sure! to Delete this item' }%>
<% end %>
</div>




</div>
