<%= form_tag search_foodspots_path, method: :get do |f| %>
<%= text_field_tag :search, nil, placeholder: "hot dogs , burgers , etc."%>
<!-- <%= text_field_tag :address, nil, placeholder: "chicago , Morocco , etc."%> -->
<%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
<%= submit_tag 'Search' %>
<%end%>

<% @foodspots.each do |spot| %>
    <%= spot.name%><br>
    <%= spot.address%><br>
    <%= link_to spot , data: { turbolinks: false } do %>
    <%= image_tag spot.image.url(:thumb) %>
    <% end %>
    <p> Liked by <span class="color"> <%= pluralize(spot.get_upvotes.size ,'person') %> </span></p>
    <% spot.votes_for.voters.each do |p| %>
    <%= image_tag(p.avatar.url(:thumb)) %>
    <%end%>
    <br>
  <% end %>
  <% if current_user.try(:admin?) %>
    <%= link_to "add Foodspot", new_foodspot_path%>
  <% end %>
