<%= form_tag search_foodspots_path, method: :get do |f| %>
<%= text_field_tag :search, nil, placeholder: "hot dogs , burgers , etc."%>
<!-- <%= text_field_tag :address, nil, placeholder: "chicago , Morocco , etc."%> -->
<%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
<%= submit_tag 'Search' %>
<%end%>
<div class="row">

  <% @foodspots.each do |spot| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to spot , data: { turbolinks: false } do %>
      <%= image_tag spot.image.url(:thumb) %>
      <% end %>
      <div class="caption">
        <h3><%= spot.name%></h3>
        <p><%= spot.address%></p>
        <%if user_signed_in?%>
            <p> Liked by <span class="color"> <%= pluralize(spot.get_upvotes.size ,'person') %> </span></p>
            <% spot.votes_for.voters.each do |p| %>
            <%if p.provider  == "facebook" %>
            <%= image_tag p.avatar_file_name + "?type=normal", class: "img-circle"%>
            <%else%>
            <%= image_tag p.avatar.url(:thumb), class: "img-circle" %>
            <%end%>
            <%end%>
        <%end%>
      </div>
    </div>
  </div>
  <% end %>

</div>
<% if current_user.try(:admin?) %>
  <%= link_to "add Foodspot", new_foodspot_path%>
<% end %>
