<div class="row">
  <p class="text-center color-b popular-title">Most popular foodspots this week</p>
  <% @foodspots.each do |spot| %>
  <div class="margin-b col-xs-12 col-sm-6 col-lg-4 text-center">
        <%= image_tag spot.image.url(:thumb), class: "foodspot-img" %>
        <%= link_to spot , data: { turbolinks: false }, class:"index-link" do %>
        <div class="caption">
          <div class="text-center">
            <h3 class="foodspot-name"><%= spot.name%></h3>
            <p><%= truncate(spot.address, length: 30)%></p>
          </div>
        </div>
        <% end %>
  </div>
  <% end %>
</div>



<% if current_user.try(:admin?) %>
  <%= link_to "add Foodspot", new_foodspot_path%>
  <%= link_to "admin", admin_foodspots_path %>
<% end %>
