<div class="row container-top-m">
    <h2 class="text-center">Food Spots nearby</h2>
  <% @foodspots.each do |spot| %>
  <div class="margin-b col-xs-12 col-sm-6 col-lg-4 text-center">
        <%= image_tag spot.avatar.url(:thumb), class: "foodspot-img" %>
        <div class="caption">
          <%= link_to spot , data: { turbolinks: false } do %>
          <div class="text-center">
            <h3 class="foodspot-name"><%= spot.name%></h3>
            <p><%= truncate(spot.address, length: 30)%></p>
            <% if user_signed_in? %>
              <% if current_user.liked? spot %>
              <%= link_to unlike_foodspot_path(spot), method: :put do %>
              <span class="glyphicon glyphicon-heart like"></span>
              <%end%>
                <% else %>
                <%= link_to like_foodspot_path(spot), method: :put do %>
                <span class="glyphicon glyphicon-heart unlike"></span>
                <%end%>
                <% end %>
            <%end%>
          </div>
          <% end %>
          <%if user_signed_in?%>
              <div class="voters-img pull-right">
                <% spot.votes_for.voters.last(4).each do |p| %>
                <%= image_tag p.avatar.url(:medium), class: "img-circle user-img-small",:"data-toggle" =>"tooltip", :"data-placement" => "top", :title => "#{p.username}" %>
                <%end%>
            </div>
            <% if spot.get_upvotes.size != 0 %>
              <p class="liked"> Liked by <sapn class="upvotes"><%= spot.get_upvotes.size %></sapn> <%= "person".pluralize(spot.get_upvotes.size)%></p>
            <%end%>
          <%end%>
        </div>
</div>
  <% end %>
</div>
