<% @foodspots.each do |spot| %>
    <%= spot.name%><br>
    <%= spot.address%><br>
    <%= link_to spot , data: { turbolinks: false } do %>
    <%= image_tag spot.image.url(:thumb) %>
    <% end %>
    <p> Liked by <span class="color"> <%= pluralize(spot.get_upvotes.size ,'person') %> </span></p>
    <% spot.votes_for.voters.each do |p| %>
    <%if p.provider  == "facebook" %>
    <%= image_tag p.avatar_file_name + "?type=normal"%>
      <%else%>
      <%= image_tag(p.avatar.url(:thumb)) %>
    <%end%>
    <%end%>
    <br>
  <% end %>
