<%= form_for  @foodspot, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true  %>
  </div>

    <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, required: true  %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.text_field :category_id, required: true  %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, required: true %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, required: true  %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, required: true  %>
  </div>

  <div class="field">
    <%= f.label :visible %>
    <%= f.check_box :visible %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
