<p><%= @user.username %> Liked</p>

<% @user.find_voted_items.each do |item| %>
      <%= item.name%><br>
      <%= item.address%><br>
      <%= link_to item do %>
      <%= image_tag item.image.url(:thumb) %>
      <% end %>
      <p> Liked by <span class="color"> <%= pluralize(item.get_upvotes.size ,'person') %> </span></p>
      <% item.votes_for.voters.each do |p| %>
      <%if p.provider  == "facebook" %>
      <%= image_tag p.avatar_file_name + "?type=normal"%>
        <%else%>
        <%= image_tag(p.avatar.url(:thumb)) %>
      <%end%>
      <%end%>
      <br>
<%end%>
